
<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'Oops,unSnap!'}">
    <!-- <p>{{  6 000 | currency }} </p> -->
    <p>{{ 6000 | currency: 'EUR' }} /personne pour un voyage de 3 semaines dans des hôtels de catégorie 3 étoiles</p>
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <a routerLink="/facesnaps">Back</a>
      <p>Mis en ligne  {{ faceSnap.createDate | date:'le dd/MM/yy à HH:mm'}}</p>
      <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
      <p>{{ faceSnap.description }}</p>
      <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
      <p>
        <button (click)="onSnap()">{{ buttonText }}</button>
        
        <!-- <span [ngStyle]="{color:'rgb(0,'+ faceSnap.snaps +',0)'}">🤌 {{ faceSnap.snaps }}</span> -->
        <span [ngStyle]="{color: 'blue'}">🤌 {{ faceSnap.snaps }}</span>
      </p>
    </div>
  
